@font-face {
    font-family: 'StickyFingers';
    src: url('materials/main menu/fonts/cc_sticky_fingers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'StickyFingers', sans-serif;
    color: #e2dfcf;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: end;
    background-image: url('materials/main menu/battlegroundBackground-08.png');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

/* Container for cards */
#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    height: 30.5vh;
    width: 68vw;
}

/* Grid layout for cards */
#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    column-gap: 3vw;
}

/* Individual card styling */
.card {
    width: 80px;
    height: 120px;
    background-color: #5A7071;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Shuffle button */
#shuffleButton {
    display: none;
}

/* Dropzone Sections */
.dropzone-section {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

/* Dropzone styling */
.dropzone {
    width: 13vw;
    height: 9vh;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px dashed #e2dfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.dropzone:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#dropZoneContainer{
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

/* Buttons container */
#buttons {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content:end;
}

#dragAndStick {
    height: 8vh;
    width: 8vh;
    background-color: #5A7071;
    font-size: 9vw;
    font-family: 'StickyFingers', sans-serif;
    color: #e2dfcf;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

#dropZoneContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 95%;
}

#loadingScreen {
    display: flex;
    position: fixed; /* Makes it cover the entire screen */
    background-image: url('materials/main menu/loading\ screen.png');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    z-index: 10; /* Higher value to appear on top */
}


#loadingIcon{
    width: 10vw;
    height: 5vh;
    bottom: 5vh;
    right: 10vw;
}

#loadingHeader{
    position: absolute;
    font-weight: 200;
    font-size: 10vw;
    left: 5vw;
    margin-top: 5vh;
}

#adviceText{
    position: absolute;
    width: 90vw;
    font-size: 5vw;
    font-weight: 100;
    left: 5vw;
    top: 9vh;
}

#laodingWindow{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    bottom: 3vh;
    left: 5vw;
}

#loadingText{
    font-size: 10vw;
}

#finishButton{
    display: flex;
    margin-bottom: 5vh;
}

#gameScreen{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 100vw;
}

#profiles{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}

#profile1,#profile2{
    display: flex;
    flex-direction: row;
    width: 38vw;
    height: 9vh;
}

#profile1{
    justify-content: end;
    background-image: url('materials/main menu/profile_banner_1.svg');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

#profile2{
    justify-content: start;
    background-image: url('materials/main menu/profile_banner_2.svg');
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

#profileInfo{
    display: flex;
    margin-right: 2vw;
    flex-direction: column;
    align-items:end;
    justify-content: center;
}

#playerName{
    margin: 0;
    font-size: 5vw;
    color: #ffac05;
}

#score{
    color: #333333;
    margin: 0;
    font-size: 10vw;
    margin-right: 3vw;
    margin-top: 1vh;
}

#locations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

#location1,#location2,#location3{
    width: 25vw;
    height: 20vw;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px dashed #e2dfcf;
}

#timerContainer{
    display: flex;
    flex-direction: row;
    font-size: 9vw;
}